/*------------------------------------------------------------------
    Top Professors
-------------------------------------------------------------------*/
.our-team{
    text-align: center;
	margin-bottom: 30px;
}
.our-team .team-img{
    overflow: hidden;
    position: relative;
}
.our-team .team-img img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    height: 30%;
    background: rgba(238, 164, 18,0.9);
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
	border-radius: 100%;
    transform: translateY(-50%) rotate(-30deg);
    transition: all 0.3s ease 0s;
}
.our-team:hover .social{
    height: 100%;
    opacity: 1;
	border-radius: 0px;
    transform: translateY(-50%) rotate(0deg);
}
.our-team .social ul{
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
}
.our-team .social ul li{
    display: inline-block;
}
.our-team .social ul li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    margin-left: 10px;
    background: #212121;
    transition: all 0.3s ease 0s;
}
.our-team .social ul li a:hover{
    background: #fff;
    color: #f3904d;
}
.our-team .team-content{
    padding: 20px 0;
    background: #f5f7f8;
    color: #54478a;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
	padding: 0px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #999;
}
.our-team:hover .team-content{
	background: #4babb1;
}
.our-team:hover .team-content .title{
	color: #ffffff;
}
.our-team:hover .post{
	color: #cccccc;
}


@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.top-navbar .bg-light{
	background: #4c5a7d !important;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
}

.top-navbar .navbar-light .navbar-nav .nav-item{
	position: relative;
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 20px;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link{
	padding: 6px 0px;
	position: relative;
	display: block;
	line-height: 30px;
	letter-spacing: 0px;
	text-transform: uppercase;
}

.top-navbar .navbar-light .navbar-nav .nav-item::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: auto;
    top: 11px;
    width: 5px;
	height: 5px;
    opacity: 0;
    margin-left: -3px;
    background-color: #ffffff;
	border-radius: 50px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: auto;
    top: -4px;
    width: 5px;
	height: 5px;
	border-radius: 50px;
    opacity: 0;
    margin-left: -10px;
    background-color: #ffffff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    right: 0%;
    left: auto;
    bottom: auto;
    top: -4px;
    width: 5px;
	height: 5px;
	border-radius: 50px;
	border: none !important;
    opacity: 0;
    margin-right: -11px;
    background-color: #ffffff;
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::before {
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	color: #eea412;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::after{
	opacity: 1;
	right: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item:hover::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	color: #eea412;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::after{
	opacity: 1;
	right: 40%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown:hover>.dropdown-menu .dropdown-item{
	padding-left: 10px;
}


.top-navbar.fixed-menu .bg-light {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

.top-navbar .bg-light {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 0px;
    margin: 0px;
	padding: 10px;
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu a:hover{
	background: #eea412;
	color: #ffffff;
}

.navbar-right li a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.navbar-right li a,
.navbar-right li a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-right li a.hover-btn-new::before,
.navbar-right li a.hover-btn-new::after {
  background: #eea412;
  content: '';
  position: absolute;
  z-index: 1;
}

.navbar-right li a.hover-btn-new:hover span {
  color: #ffffff;
}
.navbar-right li a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new::after {
  background: #ffffff !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #333333;
}
.navbar-right li a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.navbar-toggler{
	background: #ffffff;
	border-radius: 0px;
	padding: 10px 10px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
	background: #333333;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover{
	background: #eea412;
}

.navbar-toggler:hover .icon-bar{
	background: #ffffff;
}


.box-slider{
	height: 100%;
}


.box-slider .carousel-control-prev{
	border-radius: 2px;
	background: #eea412;
	position: absolute;
	left: 0px;
	font-size: 38px;
	top: 40%;
	width: 60px;
	height: 60px;
	line-height: 20px;
	opacity: 1;
}
.box-slider .carousel-control-next{
	border-radius: 2px;
	background: #eea412;
	position: absolute;
	right: 0px;
	font-size: 38px;
	top: 40%;
	width: 60px;
	height: 60px;
	line-height: 20px;
	opacity: 1;
}

.first-section .big-tagline a{
	background: none;
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: #333333;
	font-weight: 500;
}


.big-tagline a,
.big-tagline a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.big-tagline a.hover-btn-new::before,
.big-tagline a.hover-btn-new::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: 1;
}

.big-tagline a.hover-btn-new:hover span {
  color: #eea412;
}

.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.hover-btn-new::after {
  background: #eea412 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.hover-btn-new span{
	position: relative;
	z-index: 2;
}

.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.first-section .big-tagline a:hover{
	color: #333333;
}
.box-slider .carousel-inner{
	height: 100%;
}
.box-slider .carousel-item{
	height: 100%;
	width: 100%;
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.dbcolor{
	background: #eea412;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: fixed !important;
    display: block;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
}

.noover {
    overflow: visible;
}

.noover .btn-dark {
    border: 0 !important;
}

.nopad {
    padding: 0;
}

.nopadtop {
    padding-top: 0;
}

.section.wb {
    background-color: #ffffff;
}

.section.lb {
    background-color: #f2f3f5;
}

.section.db {
    background-color: #1f1f1f;
}

.section.color1 {
    background-color: #448AFF;
}
.section.cl {
	background-color: #2d3032;
}

.hover-btn-new{
	color: #ffffff;
	display: inline-block;
	font-weight: 400;
	line-height: 46px;
	padding: 0 17px;
	text-transform: uppercase;
	position: relative;
	border: 2px solid #fff;
	font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 2px;
}

.orange{
	border-color: #eea412;
}

.first-section {
    position: relative;
    overflow: hidden;
    height: 100%;	
	vertical-align: middle;
}

.first-section::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
	top: 0px;
	left: 0px;
    display: block;
    background: rgba(0,0,0,0.5);
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.first-section h2 strong{
	color: #eea412;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.macbookright {
    width: 980px;
    position: absolute;
    right: -15%;
    bottom: -6%;
}

.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}


.box-slider .first-section{
	display: table;
	position: relative;
	width: 100%;
}
.dtab{
	display: table-cell;
	vertical-align: middle;
}


.page-section{
	padding: 70px 0px; 
}

.customwidget a{
	position: relative;
	padding: 13px 40px;
	font-size: 18px;
	display: inline-block;
}


.customwidget a,
.customwidget a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.customwidget a.hover-btn-new::before,
.customwidget a.hover-btn-new::after {
  background: #9dc15b;
  content: '';
  position: absolute;
  z-index: 1;
}

.customwidget a.hover-btn-new:hover span {
  color: #333333;
}
.customwidget a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.customwidget a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.customwidget a.hover-btn-new:hover:after {
	height: 0;
	left: 50%;
	top: 50%;
	width: 0;
}
.message-box a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.message-box a,
.message-box a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.message-box a.hover-btn-new::before,
.message-box a.hover-btn-new::after {
	background: #eea412;
	content: '';
	position: absolute;
	z-index: 1;
}

.message-box a.hover-btn-new:hover span {
  color: #333333;
}
.message-box a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new::after {
  background: #333333 !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.message-box a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #fff;
}
.message-box a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.customwidget{
	margin-top: 30px;
}

.hmv-box{
	padding: 60px 0px; 
}
.inner-hmv{
	padding: 15px;
	box-shadow: 0 0px 10px rgba(0,0,0,.1);
	position: relative;
	overflow: hidden;
}
.icon-box-hmv{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border: 3px solid #4babb1;
	border-radius: 6px;
	margin-bottom: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-box-hmv i{
	font-size: 60px;
	color: #eea412;
}
.inner-hmv h3{
	font-size: 28px;
	color: #212121;
    font-weight: 500;
	margin-bottom: 20px;
	padding: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv p{
	margin: 0px;
}

.inner-hmv:hover .icon-box-hmv{
	border: 3px solid #eea412;
}
.inner-hmv:hover .icon-box-hmv i{
	color: #4babb1;
}
.inner-hmv:hover h3{
	color: #eea412;
}
.tr-pa{
	font-size: 170px;
	color: #fbfbfb;
    position: absolute;
    top: -20px;
    right: -10px;
    line-height: 125px;
	font-weight: 700;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.inner-hmv:hover .tr-pa{
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/*------------------------------------------------------------------
   NAVBAR 
-------------------------------------------------------------------*/

.top-navbar .bg-light{
	background: #637297 !important;
}

.top-navbar .navbar-light .navbar-nav .nav-link{
	color: #ffffff;
	font-size: px;
	font-weight: 500;
}

.top-navbar .navbar-light .navbar-nav .nav-item{
	position: relative;
	display: inline-block;
	padding: 15px 0px;
	margin: 0px 20px;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link{
	padding: 6px 0px;
	position: relative;
	display: block;
	line-height: 30px;
	letter-spacing: 0px;
	text-transform: uppercase;
}

.top-navbar .navbar-light .navbar-nav .nav-item::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: auto;
    top: 11px;
    width: 5px;
	height: 5px;
    opacity: 0;
    margin-left: -3px;
    background-color: #ffffff;
	border-radius: 50px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: auto;
    top: -4px;
    width: 5px;
	height: 5px;
	border-radius: 50px;
    opacity: 0;
    margin-left: -10px;
    background-color: #ffffff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    right: 0%;
    left: auto;
    bottom: auto;
    top: -4px;
    width: 5px;
	height: 5px;
	border-radius: 50px;
	border: none !important;
    opacity: 0;
    margin-right: -11px;
    background-color: #ffffff;
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::before {
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
	color: #eea412;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::after{
	opacity: 1;
	right: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item:hover::after{
	opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
	opacity: 1;
	left: 40%;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
	color: #eea412;
}
.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::after{
	opacity: 1;
	right: 40%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.dropdown:hover>.dropdown-menu .dropdown-item{
	padding-left: 10px;
}


.top-navbar.fixed-menu .bg-light {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

.top-navbar .bg-light {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 0px;
    margin: 0px;
	padding: 10px;
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu a:hover{
	background: #eea412;
	color: #ffffff;
}

.navbar-right li a{
	position: relative;
	font-size: 18px;
	display: inline-block;
}
.navbar-right li a,
.navbar-right li a.hover-btn-new::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-right li a.hover-btn-new::before,
.navbar-right li a.hover-btn-new::after {
  background: #eea412;
  content: '';
  position: absolute;
  z-index: 1;
}

.navbar-right li a.hover-btn-new:hover span {
  color: #ffffff;
}
.navbar-right li a.hover-btn-new::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new::after {
  background: #ffffff !important;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.navbar-right li a.hover-btn-new span{
	position: relative;
	z-index: 2;
	color: #333333;
}
.navbar-right li a.hover-btn-new:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}


.navbar-toggler{
	background: #ffffff;
	border-radius: 0px;
	padding: 10px 10px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
	background: #333333;
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover{
	background: #eea412;
}

.navbar-toggler:hover .icon-bar{
	background: #ffffff;
}

/*------------------------------------------------------------------
   BANNER 
-------------------------------------------------------------------*/
.banner {
	position: relative;
	margin-bottom: -8px;
}

.banner img {
	width: 100%;
}

.banner .container {
	position: absolute;
	top: 0;
	left: 9.8rem;
	right: 9.8rem;
	text-align: center;
	/*font-family: 'Raleway', sans-serif;*/
	/*color: #fff;*/
	z-index: 9;   
}

.banner .container h1 {
	/*font-size: 4rem;*/
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 12em;    
}

.banner .container h3 {
	font-weight: normal;
	/*font-size: 2rem;*/
}

/*==Banner Owl Carousel===*/
#owl-four-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.banner .owl-nav .owl-prev, .banner .owl-nav .owl-next{
	/*font-size: 4rem;*/
	font-weight: bold;
	background: transparent;
	border: none;
	/*color: #fff;*/
	cursor: pointer;
}

.banner #owl-four-nav {
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 9;
}

/*------------------------------------------------------------------
   ALL TITLE BOX
-------------------------------------------------------------------*/
.all-title-box{
	background: url(about_banner.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.all-title-box h1{
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	padding-top: 11%;
	font-size: 48px;
	line-height: 0px;
}

span.m_1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
	display: block;
}

/*------------------------------------------------------------------
    MESSAGE BOX
-------------------------------------------------------------------*/
.message-box h2 {
    font-size: 38px;
    font-weight: 400;
    padding: 0 0 10px;
    margin: 0;
    line-height: 62px;
    margin-top: 0;
    text-transform: none;
}

.message-box p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

/*------------------------------------------------------------------
    SECTION
-------------------------------------------------------------------*/
.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/
.cac {
    background-color: #232323;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.cac:hover a h3 {
    color: #fff !important;
}

.cac a h3 {
    color: #999;
}

.cac h3 {
    padding: 60px 0;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1!important;
}

.footer {
    padding: 90px 0 80px !important;
    color: #cccccc;
	background:#4c5a7d url('images/world-map.png') no-repeat center; 
}

.footer .widget-title { 
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.footer .widget-title small {
    color: #cccccc;
    display: block;
    padding: 0 58px;
    text-transform: uppercase;
}

.footer .widget-title h3 {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links a {
    color: #cccccc;
}

.footer-links a:hover,
.footer a:hover {
    color: #f4f4f4 !important;
}

.footer-links li {
    margin-bottom: 5px;
    display: block;
    width: 100%;
	padding: 5px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.twitter-widget li {
    margin-bottom: 0;
    border: 0 !important;
}

.twitter-widget li i {
    border-right: 0 !important;
    margin-right: 0;
}

.footer-links li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.footer-links i {
    display: inline-block;
    width: 25px;
    margin-right: 10px;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);
}

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 10px 0px;
    overflow: hidden;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
}

.footer-distributed .footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-distributed .footer-company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 5px 0px;
}


/* Footer right */

.footer-distributed .footer-right {
    float: right;
}


/* The search form */

.footer-distributed form {
    position: relative;
}

.footer-distributed form input {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #181818;
    border: none;
    font: inherit;
    font-size: 15px;
    font-weight: normal;
    color: #999;
    width: 400px;
    padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus {
    outline: none;
}


/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
    color: #999;
}

.footer-distributed form input::-moz-placeholder {
    opacity: 1;
    color: #999;
}

.footer-distributed form input:-ms-input-placeholder {
    color: #999;
}


/* The magnify glass icon */

.footer-distributed form i {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    right: 18px;
    color: #999;
    font-size: 18px;
    margin-top: 6px;
}


.footer-distributed .footer-company-name a{
	color: #ffffff;
}

.footer-distributed .footer-company-name a:hover{
	color: #eea412;
}
.footer-links-soi{
	margin: 0px;
	padding: 0px;
}
.footer-links-soi li{
	display: inline-block;
}
.footer-links-soi li a{
	background: #ffffff;
	color: #333333;
	width: 32px;
	height: 32px;
	display: block;
	font-size: 22px;
	text-align: center;
	line-height: 32px;
	border-radius: 2px;
}
.footer-links-soi li a:hover{
	background: #eea412;
}
.footer-links-soi li a:hover i{
	color: #ffffff;
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.footer-links-soi li a i{
	-webkit-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.footer-center{
	text-align: center;
}


/*------------------------------------------------------------------
    MISC
-------------------------------------------------------------------*/

.progress {
    background-color: #f2f3f5;
    border-radius: 0;
    box-shadow: none;
    height: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skills h3 {
    color: #999999;
    font-size: 15px;
}

.dmtop {
    background-color: #3C3D41;
    z-index: 100;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: -100px;
    border-radius: 3px;
    right: 10px;
    text-align: center;
    font-size: 28px;
    color: #ffffff !important;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.icon_wrap {
    background-color: #1f1f1f;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-size: 34px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
}

.stat-wrap h3 {
    font-size: 18px;
    font-weight: 400;
    color: #999 !important;
    margin: 0 ;
    padding: 0;
    line-height: 1;
}

.stat-wrap p {
    font-size: 38px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
    padding: 4px 0 0;
    line-height: 1 !important;
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eea412;
    z-index: 11000;
    position: fixed;
    display: block
}

.preloader {
    position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 45%;
    width: 95px;
    height: 95px;
    background: center center no-repeat none;
    background-size: 95px 95px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

