{% extends "base.html" %}

{% block content %}

<div class="all-title-box">
    <div class="container text-center">
        <h1>About Us</h1>
    </div>
</div>

<div id="overviews" class="section lb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">                              
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">                    
                    <h2>About Our Website</h2>
                    <p>Professor Reviews is about helping students in answering a single question: "What do I need to know in order to enhance my chances of success in a certain class?" </p>          
                    <p>Every teacher and class is unique, and students who know what to expect can better prepare themselves to succeed.</p>     
                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="static/about_1.jpg" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>        

        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p></p>                
            </div>
        </div>
    </div>
</div> 

{% endblock %}
