{% extends "base.html" %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div id="home" class="first-section" style="background-image:url('static/slider_1.png'); height: 600px; background-position: center; background-size: cover;">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="big-tagline">
                                    <h2><strong>Professor</strong> Reviews</h2>
                                    <p class="lead">Allow SJSU students to provide indirect feedback and assign ratings to their professors.</p>                                        
                                </div>
                            </div>
                        </div><!-- end row -->            
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <div class="carousel-item">
            <div id="home" class="first-section" style="background-image:url('static/slider_2.png'); height: 600px; background-position: center; background-size: cover;">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-left">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight">Professor<strong> Reviews</strong></h2>
                                    <p class="lead" data-animation="animated fadeInLeft">Give future students insight into what their future classes may look like.</p>
                                    </div>
                            </div>
                        </div><!-- end row -->            
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <div class="carousel-item">
            <div id="home" class="first-section" style="background-image:url('static/slider_3.jpg'); height: 600px; background-position: center; background-size: cover;">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <div class="big-tagline">
                                    <h2 data-animation="animated zoomInRight"><strong>Professor</strong> Reviews</h2>
                                    <p class="lead" data-animation="animated fadeInLeft">Professors can also use this tool to gauge the experience students are having in their class.</p>                                       
                                </div>
                            </div>
                        </div><!-- end row -->            
                    </div><!-- end container -->
                </div>
            </div><!-- end section -->
        </div>
        <!-- Left Control -->
        <a class="new-effect carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="new-effect carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="section-title row text-center">
    <div class="col-md-8 offset-md-2">
        <br/><br/><br/>
        <h3>Top Professors</h3>       
    </div>
</div><!-- end title -->

<div id="teachers" class="section wb">
    <div class="container">
        <div class="row">
            {% for professor in professors %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="our-team">
                    <div class="team-img">
                        <img src={{professor.image}} alt={{professor.name}}>                       
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{ professor.name }}</h3>
                        <span class="post2">{{ professor.department }} Department</span>
                        <span class="post">{{ professor.reviews }} Reviews</span>
                        <p>Rating {{ professor.rating }}</p>
                        <a href="{{'/show_professor/%s'%professor.id }}" type="button" class="btn btn-lg btn-link">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->	
{% endblock %}
