{% extends "base.html" %}

{% block content %}
<form method="POST" novalidate>
    <div class="jumbotron">
        <div class="container">
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <h1>Register User</h1>

                <div class="form-group">
                    <label>{{ form.username.label }}</label>
                    {{ form.username(class="form-control", size=32) }}
                </div>

                <div class="form-group">
                    <label>{{ form.password.label }}</label>
                    {{ form.password(class="form-control", size=32) }}
                </div>

                <div class="form-group">
                    <label>{{ form.repeatPassword.label }}</label>
                    {{ form.repeatPassword(class="form-control", size=32) }}
                </div>

                {{ form.submit(class="btn btn-secondary") }}
            </form>
        </div>
    </div>
</form>
{% endblock %}
