{% extends "base.html" %}

{% block content %}
<div id="teachers" class="section wb">
    <div class="container">
        <div class="row">
            {% for professor in professors %}
            <div class="col-lg-3 col-md-6 col-12">
                <div class="our-team">
                    <div class="team-img">
                        <img src={{professor.image}} alt={{professor.name}}>                       
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{ professor.name }}</h3>
                        <span class="post2">{{ professor.department }} Department</span>
                        <span class="post">{{ professor.reviews }} Reviews</span>
                        <p>Rating {{ professor.rating }}</p>
                        <a href="{{'/show_professor/%s'%professor.id }}" type="button" class="btn btn-lg btn-link">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->	
{% endblock %}
